{% extends 'frontend/common/basic_layout.html' %}
{% block content %}

    <style>
        td {
            text-align: center;
            vertical-align: middle;
        }

        tr {
            text-align: center;
            vertical-align: middle;
        }

        th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
            $('#checkall').on('ifChecked', function (event) {
                $('.icheck').iCheck('check');
            });
            $('#checkall').on('ifUnchecked', function (event) {
                $('.icheck').iCheck('uncheck');
            });
        });
        function deleteBatch() {
            var obj = getChecked()
            if (obj == "") {
                alert('请选择至少一条记录进行删除');
            } else {
                $.get('batch_delete_entity/?id=' + obj, function () {
                    location.reload();
                })
            }
        }
        function getChecked() {
            var str = document.getElementsByName("input[]");
            var objarray = str.length;
            var chestr = "";
            for (i = 0; i < objarray; i++) {
                if (str[i].checked == true) {
                    chestr += str[i].id + ",";
                }
            }
            return chestr;
        }
        function checktb(obj, id) {
            if (obj.name == 'pmenu' && obj.checked == true) {
                $($("input[type='checkbox']")).each(function () {
                    $(this).prop('checked', true);
                });
            }
            if (obj.name == 'pmenu' && obj.checked == false) {
                $($("input[type='checkbox']")).each(function () {
                    $(this).removeAttr("checked");
                });
            }

            var uids = "";
            $($("input[type='checkbox']")).each(function () {
                if (this.checked == true && this.name != 'pmenu') {
                    uids += this.id + ",";
                }
            });
            $("#" + id).val(uids);
        }
    </script>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{% block list_title %}{% endblock %}</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get">
                            <div class="row">
                                {% block list_filter %}
                                {% endblock %}
                            </div>
                        </form>
                        <div class="dataTables_wrapper form-inline">
                            {% block list_content %}
                            {% endblock %}
                        </div>
                        {% include 'frontend/common/pagination.html' %}
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}