{% extends 'common/basic_layout.html' %}

{% block content %}
    <script src="/static/asserts/require.js"></script>
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/hplus/js/plugins/chosen/chosen.jquery.js"></script>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>版本
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data"
                              onsubmit="return preSubmit()"
                              class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" id="pid" name="pid" value="{{ pk }}"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ form.files.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ form.files }}
                                    {{ form.files.errors }}
                                    <div class="alert alert-success">
                                        SLS压缩包中的init将会被用作部署,start.sls被用于业务启动,stop.sls被用于业务暂停,uninstall.sls被用于业务卸载
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ form.software_files.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ form.software_files }}
                                    {{ form.software_files.errors }}
                                    <div class="alert alert-success">
                                        SLS中所使用的部署文件,使用方式为salt://....
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <a class="btn btn-white" href="javascript:history.go(-1)">取消</a>
                                </div>
                            </div>
                        </form>
                        <hr/>
                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
                            <thead>
                            <tr>
                                <th style="width: 7%;">版本</th>
                                <th style="width:5%;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project_version in project_versions %}
                                <tr>
                                    <th style="width: 7%;"><a
                                            href="/static/scripts/{{ project_version.files|file_path_filter }}"> {{ project_version.files|file_path_filter }}</a>
                                    </th>
                                    <th style="width:5%;">
                                        <a href="/frontend/deploy_manager/project_list/{{ project_version.id }}/project_version_edit/?pk={{ project_version.project.id }}"
                                           class="btn  btn-sm btn-info"><i class="fa fa-edit"></i>编辑</a>
                                        <a href="javascript:void(0)"
                                           onclick="removeVersion('{{ project_version.id }}',this)"
                                           class="btn  btn-sm btn-danger"><i class="fa fa-trash"></i>删除</a>
                                    </th>
                                </tr>
                            {% endfor %}
                            <script>
                                function removeVersion(id, content) {
                                    $.get('/frontend/deploy_manager/project_list/delete_project_version/?id=' + id, function (rs) {
                                        var obj = $($(content).parent()[0]).parent()[0]
                                        obj.remove()
                                    })
                                }
                            </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        $(document).ready(function () {
            var fieldObj = $('.form-horizontal input')
            for (var i = 0; i < fieldObj.length; i++) {
                $(fieldObj[i]).addClass('form-control')
            }
            fieldObj = $('.form-horizontal textarea')
            for (var i = 0; i < fieldObj.length; i++) {
                $(fieldObj[i]).addClass('form-control')
            }

            fieldObj = $('.form-horizontal select')
            for (var i = 0; i < fieldObj.length; i++) {
                $(fieldObj[i]).addClass('form-control')
            }
            $('#id_is_default').removeClass('form-control')
            $('#id_files').removeClass('form-control')
            $('#id_software_files').removeClass('form-control')

        })
    </script>

{% endblock %}
