*.log
*.pot
*.pyc
local_settings.py
doc/script/files/*
.idea
.idea/*
db.sqlite3
/doc/script
/doc/scripts
.idea/workspace.xml
/antd-admin-master/node_modules
/saltops2-web/.idea
/static/scripts
/antd-admin-master/build
/antd-admin-master/dist
/saltops-web/node_modules