{% extends 'frontend/common/basic_list.html' %}

{% block list_title %}
    机架
{% endblock %}

{% block list_filter %}
    <div class="col-sm-3">
        <div class="input-group">
            <select class="form-control m-b" name="cabinet">
                <option value="" {% ifequal '' cabinet %}
                        selected="selected"
                {% endifequal %}
                >----
                </option>
                {% for o in cabinet_list %}
                    <option value="{{ o.id }}" {% ifequal o.id cabinet %}
                            selected="selected"
                    {% endifequal %}

                    >{{ o.name }}</option>
                {% endfor %}

            </select>
            <span
                    class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>

        </div>
    </div>
    <div class="col-sm-2">
        <div class="input-group">
            <a href="/frontend/cmdb/rack_list/rack_add"
               class="btn btn-sm btn-success"> 新增</a>
        </div>
    </div>
{% endblock %}

{% block list_content %}
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
        <thead>
        <tr>
            <th style="width: 10%;">机房</th>
            <th style="width: 10%;">机柜</th>
            <th style="width: 10%;">机架</th>
            <th style="width: 10%;">创建时间</th>
            <th style="width: 10%;">更新时间</th>
            <th style="width:10%;">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for o in result_list %}
            <tr>
                <td>{{ o.idc }}</td>
                <td>{{ o.cabinet }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.create_time }}</td>
                <td>{{ o.update_time }}</td>
                <td>
                    <a href="/frontend/cmdb/rack_list/{{ o.id }}/rack_edit/"
                       class="btn  btn-sm btn-info">编辑</a>
                    <a href="/frontend/cmdb/rack_list/delete_entity?id={{ o.id }}"
                       class="btn  btn-sm btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}