{% extends 'frontend/common/basic_layout.html' %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ title }}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{{ action }}" class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" id="id" name="id" value="{{ pk }}"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ form.idc.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ form.idc }}
                                    {{ form.idc.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ form.cabinet.label_tag }}</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="id_cabinet" name="cabinet">
                                        <option>请选择机房</option>
                                    </select>
                                    {{ form.cabinet.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ form.name.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    <a class="btn btn-white" href="javascript:history.go(-1)">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#id_idc').change(function () {
            if ($('#id_idc').val() != '') {
                $.get('/frontend/cmdb/rack_list/' + $('#id_idc').val() + '/load_cabinet_list/', function (rs) {
                    optionList = eval(rs)
                    $('#id_cabinet').empty()
                    for (var i = 0; i < optionList.length; i++) {
                        $("#id_cabinet").append("<option value=" + optionList[i].pk + ">" + optionList[i].fields.name + "</option>");
                    }
                })
            } else {
                $('#id_cabinet').empty()
                $("#id_cabinet").append("<option value=''>请选择机房</option>");
            }
        })
    </script>
{% endblock %}