{% extends 'common/basic_list.html' %}
{% load toolbox_tags %}
{% load table_tags %}
{% block list_title %}
    工具
{% endblock %}
{% block subtitle %}
    <small>
        存放运维过程中常用的脚本，提高运维操作的效率与准确性
    </small>
{% endblock %}
{% block list_filter %}
    <div class="col-sm-2">
        {% toolbox_select_filter_dynamic 'tools_type' tools_type '工具类型' tools_types %}
    </div>
    <div class="col-sm-2">
        {% toolbox_text_filter 'name' '工具名称' name %}
    </div>
    <div class="col-sm-2">
        {% toolbox_select_filter_dynamic 'tool_run_type' tool_run_type '脚本类型' tools_types_datasource %}
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            &nbsp;
            {% toolbox_search %}
            &nbsp;
            {% toolbox_add 'tools_script_add/' %}
            &nbsp;
            {% toolbox_batch_delete %}
        </div>
    </div>
{% endblock %}

{% block list_content %}
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
        {% table_head "工具类型@tools_type,名称@name,脚本类型@tool_run_type,工具说明@comment,创建时间@create_time,更新时间@update_time" order_by ordering 'width:25%' %}
        <tbody>
        {% for o in result_list %}
            {% table o.id 'tools_script_edit/' "tool_execute@primary@play@执行,tool_execute_history@success@expand@历史" o.id o.tools_type o.name o.tool_run_type|tools_type_filter o.comment o.create_time o.update_time %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}