{% extends 'common/basic_layout.html' %}
{% load form_tags %}

{% block content %}
    <script src="/static/asserts/require.js"></script>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ title }}</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="{{ action }}" onsubmit="return preSubmit()" class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" id="id" name="id" value="{{ pk }}"/>
                            {% form_text_field form.name.label_tag form.name form.name.errors %}
                            {% form_script_field form.tool_script.label_tag "tool_script" form.tool_script.value|default_if_none:"" %}
                            {% form_text_field form.tools_type.label_tag form.tools_type form.tools_type.errors %}
                            {% form_text_field form.tool_run_type.label_tag form.tool_run_type form.tool_run_type.errors %}
                            {% form_text_field form.comment.label_tag form.comment form.comment.errors %}
                            {% form_submit_btns %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function preSubmit() {
            debugger;
            $('#id_tool_script').val(id_tool_script_editor.getValue())
            return true;
        }
    </script>

{% endblock %}
