{% load i18n admin_urls static %}
<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
    <fieldset class="module {{ inline_admin_formset.classes }}">
        <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
        {{ inline_admin_formset.formset.management_form }}
        {{ inline_admin_formset.formset.non_form_errors }}
        <div class="form-row field-name">
            <div>
            ss
            </div>
        </div>
    </fieldset>
</div>
