<div class="form-group">
    <label class="col-sm-2 control-label"> {{ label }}</label>
    <div class="col-sm-10" style="height: 200px" name="id_editor"
         id="id_{{ id }}_editor"></div>
    <textarea id="id_{{ id }}" name="{{ id }}"
              style="display: none">{{ content }}</textarea>
</div>

<script>
    var id_{{ id }}_editor;
    require.config({paths: {ace: "/static/asserts/ace/lib/ace"}})
    define('editor', ['ace/ace'],
        function (ace, langtools) {
            id_{{ id }}_editor = ace.edit("id_{{ id }}_editor");
            id_{{ id }}_editor.setTheme("ace/theme/xcode");
            id_{{ id }}_editor.session.setMode("ace/mode/yaml");
            id_{{ id }}_editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            require(["ace/requirejs/text!src/ace"], function (e) {
                id_{{ id }}_editor.setValue($('#id_{{ id }}').val());
            })
        }
    );
    require(['editor'])

    $('#id_{{ id }}').change(function (e) {
        if ($('#id_{{ id }}').val() == "0") {
            id_{{ id }}editor.session.setMode("ace/mode/yaml");
        }
        if ($('#id_{{ id }}').val() == "1") {
            id_{{ id }}editor.session.setMode("ace/mode/sh");
        }
        if ($('#id_{{ id }}').val() == "2") {
            id_{{ id }}editor.session.setMode("ace/mode/powershell");
        }
        if ($('#id_{{ id }}').val() == "3") {
            id_{{ id }}editor.session.setMode("ace/mode/python");
        }
        if ($('#id_{{ id }}').val() == "4") {
            id_{{ id }}editor.session.setMode("ace/mode/plain_text");
        }
        if ($('#id_{{ id }}').val() == "5") {
            id_{{ id }}editor.session.setMode("ace/mode/plain_text");
        }
    })
</script>