<tr>
    <td>
        <input type="checkbox" class="i-checks icheck" id="{{ id }}" name="input[]">
    </td>
    {% for o in datas %}
        <td>{{ o }}</td>
    {% endfor %}
    <td>
        {% if edit_url %}
            <a href="{{ id }}/{{ edit_url }}"
               class="btn  btn-sm btn-info"><i class="fa fa-edit"></i>编辑</a>
        {% endif %}

        {% if delete_id %}
            <a href="javascript:void(0)"
               onclick="deleteAction('{{ delete_id }}')"
               class="btn  btn-sm btn-danger"><i class="fa fa-trash"></i>删除</a>
        {% endif %}
    </td>
</tr>

