{% extends 'common/basic_list.html' %}
{% load toolbox_tags %}
{% load table_tags %}
{% block list_title %}
    用户组
{% endblock %}
{% block subtitle %}
    <small>
        定义了用户所属的分组以及该用户组所具备的权限
    </small>
{% endblock %}
{% block list_filter %}
    <div class="col-sm-4">
        <div class="input-group">
            {% toolbox_add 'group_add/' %}
            &nbsp;
            {% toolbox_batch_delete %}
        </div>
    </div>
{% endblock %}

{% block list_content %}
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
        {% table_head "用户组名称@name" order_by ordering 'width:3%' %}
        <tbody>
        {% for o in result_list %}
            {% table o.id 'group_edit/' "" o.id o.name %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}