{% extends 'common/basic_list.html' %}
{% load toolbox_tags %}
{% load table_tags %}
{% block list_title %}
    周期管理(Crontab)
{% endblock %}

{% block list_filter %}
    <div class="col-sm-4">
        <div class="input-group">
            {% toolbox_add 'crontab_schedule_add/' %}
            &nbsp;
            {% toolbox_batch_delete %}
        </div>
    </div>
{% endblock %}

{% block list_content %}
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
        {% table_head "分@minute,小时@hour,周@day_of_week,月@day_of_month,年@month_of_year" order_by ordering %}
        {% for o in result_list %}
            {% table o.id 'crontab_schedule_edit/' o.id o.minute o.hour o.day_of_week o.day_of_month o.month_of_year %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}