{% extends 'common/basic_form.html' %}
{% block titleblock %}
    任务状态
{% endblock %}

{% block script_content %}
    <script>
{#        $(document).ready(function () {#}
{#            $('#id_minute').parent().parent()[0].children[0].innerText = "分:";#}
{#            $('#id_hour').parent().parent()[0].children[0].innerText = "小时:";#}
{#            $('#id_day_of_week').parent().parent()[0].children[0].innerText = "周:";#}
{#            $('#id_day_of_month').parent().parent()[0].children[0].innerText = "月:";#}
{#            $('#id_month_of_year').parent().parent()[0].children[0].innerText = "年:";#}
{#        })#}
    </script>
{% endblock %}